.card{
   display: flex;
   align-content: center;
}

.btn {
   width: 9.3em;
}

label {
   text-align: left;
 }

select{
   flex: 0 0 200px;
   justify-content: flex-end;
   margin-left: 10px;
 }